!tmp/.gitkeep

db/

log/
!log/.gitkeep

.env.local

Framework/Container/cache/*
!Framework/Container/cache/.gitkeep

# PHPUnit
/.phpunit.cache
.phpunit.result.cache
public/coverage/
tests/Unit/code-coverage/