body {
    background-color: #f4f6ff;
}


.logo-header {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    justify-content: center;
}

.logo {
    float: right;
}
.slogan {
    font-size: 3em;
    font-weight: 100;
    align-self: flex-end;
}




.container-footer {
    padding: 10px 30px 10px 30px;
}

.button-cosplays-as-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    font-size: 1.2em;
    color: #039be5;
    cursor: pointer;
}


/* proposed tags */
#id_tag_checkbox_submit {
    display: none;
}