body {
    background-color: #f4f6ff;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.hidden {
    display: none;
}

.logo-header {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    justify-content: center;
}

.logo {
    float: right;
    max-width: 96px;
    height: auto;
}
.slogan {
    font-size: 3em;
    font-weight: 100;
    align-self: flex-end;
    padding-right: 10px;
}




.container-footer {
    padding: 30px 60px 30px 60px;
}

.button-cosplays-as-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    font-size: 1.2em;
    color: #039be5;
    cursor: pointer;
}

/* Frontpage */
.frontpage {
    padding: 60px 60px 0 60px;
}

.top-buffer-headline {
    margin-top:100px;
}

.top-buffer {
    margin-top: 60px;
}

.column-header {
    font-weight: 700;
}

/* proposed tags */
#id_tag_checkbox_submit {
    display: none;
}
.danbooru-id {
    float: left;
    padding-right: 60px;
}
.dominant-colors-box {
    height: 50px;
    width: 100px;
    float: left;
}

.tag {
    float: left;
    padding-right: 10px;
}

.suggested-tags {
    font-size: 1.5em;
    font-weight: 100;
}

/* used by \Ramsterhad\DeepDanbooruTagAssist\Api\MachineLearningPlatform\TemplateHelper::tagsCssClassHelper */
.unknownTag {
    font-weight: bold;
    color: green;
}

.new_tags_grid {
    padding-bottom: 0;
}

.new_tags_grind_col {
    white-space: nowrap;
}

div.row.new_tags_grid {
    margin-bottom: 10px;
}